/* 全体設定 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container_skill{
    width: 80%;
    margin: 50px auto;
}

.valuation{
  text-align: center;
}

/* ヘッダー */
header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.5em;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

header nav ul li a:hover {
  color: #333;
  background-color: white;
  border-radius: 5px;
}

.profile-card{
  text-align: center;
}

/* セクション */
.top_section{
  background-color: #333333;
  padding: 373px 0;
}

.top_section h2{
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.top_section p{
  text-align: center;
  color: #fff;
}

.section {
  padding: 40px 0;
  margin-bottom: 60px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.name{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

p{
  width: 45%;
  margin: 0 auto;
  margin-top: 5px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* お問い合わせフォーム */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

form input, form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 5px;
}

form button:hover {
  background-color: #555;
}

/* フッター */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
